@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Chango&family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
body {
	font-family: Inter;
	margin: 0;
}
nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	margin: 5%;
}
a {
	text-decoration: none;
	color: #5e607a;
}
.Goup-A-link {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
}
h1 {
	font-weight: 800;
	font-size: 56px;
	color: #00001a;
}
h2 {
	font-weight: 700;
	font-size: 32px;
	color: #e9aa52;
}
h3 {
	font-weight: 800;
	font-size: 20px;
	color: #ffffff;
}
h4 {
	font-weight: 700;
	font-size: 32px;
}
h4,
.H5-red {
	color: #f15d51;
}
h5 {
	color: #00001a;
	font-weight: 800;
	font-size: 18px;
}
main {
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin: 5%;
}
.Group-Grid-place {
	display: flex;
	flex-direction: row;
	gap: 10px;
}
.part-grid-second {
	display: flex;
	flex-direction: column;
	background-color: #00001a;
	color: #c5c6ce;
	padding: 15px;
	width: 50%;
}
.part-of-img {
	width: 90%;
}
hr {
	width: 100%;
}
.micro-card-sec {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}
.card {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	width: 30%;
	color: #5e607a;
}
.img-card {
	width: 130px;
	height: 210px;
}
.part-grid-third {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #5e607a;
	width: 85%;
	gap: 1rem;
}
.text-part-third {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
button {
	background-color: #f15d51;
	color: #00001a;
	font-weight: 700;
	font-size: 14px;
	border: none;
	padding: 10px 20px;
    width: max-content;
	cursor: pointer;
}
table {
	width: 100%;
	border-collapse: collapse;
	text-align: left;
	color: #5e607a;
}
.table-head {
	background-color: #000000;
	color: #ffffff;
	font-weight: 800;
	font-size: 18px;
	padding: 10px;
}
th {
	padding: 15px;
}
td {
	min-width: 100px;
	padding: 15px;
}
.text-TD-spe-green {
	color: #64f48a;
	font-weight: 400;
}
.text-TD-spe-red {
	color: #f15d51;
	font-weight: 400;
}
